main, aside {
  /* Setting the height to be 100% of the viewport height for visibility */
  height: 100vh;
}

/*
  - Here we must clear the container since all of its children are floated
  - Without this, the height of the container will collapse all the way to 0 
  - Try commenting out this block and check your dev tools!
*/
.container::after {
  content: "";
  clear: both;
  display: table;
}

main {
  background-color: orangered;

  /* 
    - The width of this plus any floated elements next to it MUST EQUAL 100%
    - If its over 100% some elements will be kicked to the next line
    - 70 + 30 = 100 
  */
  width: 70%;

  /* 
    - This is what allows these block level elements to sit next to each other!
    - Notice we have to define this property on both "main" and "aside"
  */
  float: left;
}

aside {
  background-color: lawngreen;

  /* 
    - The width of this plus any floated elements next to it MUST EQUAL 100%
    - If its over 100% some elements will be kicked to the next line
    - 70 + 30 = 100 
  */
  width: 30%;

  /* 
    - This is what allows these block level elements to sit next to each other!
    - Notice we have to define this property on both "main" and "aside"
  */
  float: left;
}